## Imports

In [1]:
import datetime as dt
import numpy as np
import pandas as pd
import yfinance as yf
import plotnine as p9
import statsmodels.formula.api as smf

## Load Yahoo Data

We will be getting Dividend Adjusted data -> which could be the difference between Yahoo and TradingView data

In [2]:
# tickers = ['SPY', 'TLT']
# ydata = yf.Tickers(tickers).download(period="max", auto_adjust=True)   # get dividend adjusted prices

Convert Yahoo Data to long-format

In [3]:
# data = (   # put data in long form
#     ydata
#     .dropna()
#     .stack(1, future_stack=True)
#     .reset_index()
#     [['Date', 'Ticker', 'Close']]
#     .sort_values(by=['Date', 'Ticker'])
# )

# data.head(5)

In [4]:
# # download historical data from Yahoo Finance to csv, file name data_<tickers>_2002-07-30_D.csv
# data.to_csv('data_SPY_TLT_2002-07-30_D.csv', index=False)

## Create return data for the various periods of Month defined by (N, M)

In [2]:
# read data from csv
data = pd.read_csv('data_SPY_TLT_2002-07-30_D.csv')
data['Date'] = pd.to_datetime(data['Date'])
print(data.info())
print(data.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11700 entries, 0 to 11699
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    11700 non-null  datetime64[ns]
 1   Ticker  11700 non-null  object
 2   Close   11700 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 274.3+ KB
None
        Date Ticker      Close
0 2002-07-30    SPY  59.177753
1 2002-07-30    TLT  37.055656
2 2002-07-31    SPY  59.320934
3 2002-07-31    TLT  37.514767
4 2002-08-01    SPY  57.772179

In [3]:
# set Date as index
data = data.set_index('Date')
# rename index to ym
data.index.name = 'ym'

In [ ]:
# group by Ticker and ym

C:\Users\calli\AppData\Local\Temp\ipykernel_8708\3618533457.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.

In [6]:
data.head(5)

           Ticker       Close
ym
2002-07-30    SPY   59.177753
2002-07-30    TLT   37.055656
2002-07-31    SPY   59.320934
2002-07-31    TLT   37.514767
2002-08-01    SPY   57.772179
...           ...         ...
2025-10-03    TLT   89.379997
2025-10-06    SPY  671.609985
2025-10-06    TLT   88.669998
2025-10-07    SPY  669.119995
2025-10-07    TLT   89.180000

[2794 rows x 2 columns]