In [3]:
import datetime as dt

import numpy as np
import pandas as pd

import pyarrow.parquet as pq

import matplotlib.pyplot as plt


import warnings
warnings.filterwarnings("ignore")

In [4]:
# Read Parquet file into an Arrow Table
table1 = pq.read_table("../02_Leveraged ETFs/00_data/MSTR.parquet")
table2 = pq.read_table("../02_Leveraged ETFs/00_data/MSTU.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/IBIT.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/BITU.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/IBIT.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/MSTR.parquet")      # Not an LETF but interesting case study due to the high exposure to Bitcoin

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/TSLA.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/TSLL.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/TSLA.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/TSLS.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/QQQ.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/TQQQ.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/QQQ.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/SQQQ.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/SPY.parquet")       # Big Size File       
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/UPRO.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/SPY.parquet")       # Big Size File
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/SPXL.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/SPY.parquet")       # Big Size File
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/SPXU.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/UPRO.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/SPXL.parquet")

# table1 = pq.read_table("../02_Leveraged ETFs/00_data/SPXL.parquet")
# table2 = pq.read_table("../02_Leveraged ETFs/00_data/SPXU.parquet")

In [5]:

# Convert Arrow Table back to Pandas DataFrame
df1 = table1.to_pandas()
df2 = table2.to_pandas() # (df2 usually is the leveraged ETF)

In [6]:
# # Extract Ticker symbols directly from df1 and df2, column 'Ticker', unique values
ticker1 = df1['Ticker'].unique()[0]
ticker2 = df2['Ticker'].unique()[0]

In [7]:
df1.head()

,Date,Ticker,T,Open,High,Low,Close,Volume,VWAP,N
0,2003-10-09 09:29:00,MSTR,1065706140000,5.0210,5.091,5.017,5.091,30000.0,5.0586,22
1,2003-10-09 09:30:00,MSTR,1065706200000,5.0851,5.094,5.085,5.094,25990.0,5.0907,10
2,2003-10-09 09:31:00,MSTR,1065706260000,5.0940,5.094,5.070,5.070,60510.0,5.0839,16
3,2003-10-09 09:32:00,MSTR,1065706320000,5.0700,5.075,5.070,5.075,2000.0,5.0725,2
4,2003-10-09 09:33:00,MSTR,1065706380000,5.0620,5.062,5.052,5.052,2000.0,5.0570,2

In [8]:
print(df1.columns)

"""
T: This is a timestamp in milliseconds (Unix epoch time). 
The value 1760140500000 converts to October 10, 2025, 19:55:00 UTC, which matches the Date column.

N: This is likely the number of trades or number of data points used to calculate the VWAP for that time interval. 
The value 26 suggests 26 individual trades or ticks were aggregated.

The N column provides useful information about data quality. 
Higher values of N typically indicate more liquid trading periods with better VWAP reliability
""";

Index(['Date', 'Ticker', 'T', 'Open', 'High', 'Low', 'Close', 'Volume', 'VWAP',
       'N'],
      dtype='object')

In [9]:
df1.tail()

,Date,Ticker,T,Open,High,Low,Close,Volume,VWAP,N
1414722,2025-10-10 19:55:00,MSTR,1760140500000,300.960,300.960,300.9600,300.9600,317.0,300.5696,26
1414723,2025-10-10 19:56:00,MSTR,1760140560000,300.960,300.960,300.0000,300.5000,1803.0,300.2599,41
1414724,2025-10-10 19:57:00,MSTR,1760140620000,300.890,300.890,300.0903,300.0903,938.0,300.4362,34
1414725,2025-10-10 19:58:00,MSTR,1760140680000,300.019,300.019,300.0000,300.0000,447.0,300.2485,25
1414726,2025-10-10 19:59:00,MSTR,1760140740000,300.000,300.070,299.2100,299.2100,1427.0,299.9531,79

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414727 entries, 0 to 1414726
Data columns (total 10 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Date    1414727 non-null  datetime64[ns]
 1   Ticker  1414727 non-null  object
 2   T       1414727 non-null  int64
 3   Open    1414727 non-null  float64
 4   High    1414727 non-null  float64
 5   Low     1414727 non-null  float64
 6   Close   1414727 non-null  float64
 7   Volume  1414727 non-null  float64
 8   VWAP    1414727 non-null  float64
 9   N       1414727 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 107.9+ MB

In [11]:
df2.tail(5)

,Date,Ticker,T,Open,High,Low,Close,Volume,VWAP,N
229975,2025-10-10 19:55:00,MSTU,1760140500000,3.98,3.99,3.98,3.9800,8697.0,3.9859,42
229976,2025-10-10 19:56:00,MSTU,1760140560000,3.98,3.99,3.98,3.9900,25109.0,3.9885,22
229977,2025-10-10 19:57:00,MSTU,1760140620000,3.99,3.99,3.98,3.9897,5215.0,3.9868,19
229978,2025-10-10 19:58:00,MSTU,1760140680000,3.98,3.99,3.97,3.9800,9029.0,3.9793,52
229979,2025-10-10 19:59:00,MSTU,1760140740000,3.97,3.98,3.96,3.9700,17293.0,3.9708,43

In [12]:
# Add year, month, day, hour, minute columns for easier filtering on df1 and df2
for df in [df1, df2]:
    df['year'] = pd.to_datetime(df['Date']).dt.year
    df['month'] = pd.to_datetime(df['Date']).dt.month
    df['day'] = pd.to_datetime(df['Date']).dt.day
    df['hour'] = pd.to_datetime(df['Date']).dt.hour
    df['minute'] = pd.to_datetime(df['Date']).dt.minute

In [13]:
# Add a new column 'ym' representing the last day of each month on df1 and df2
for df in [df1, df2]:
    df['ym'] = pd.to_datetime(df['Date']).dt.to_period('M').dt.to_timestamp('M') + pd.offsets.MonthEnd(0)

In [14]:
# Create trading day counter for minute-level data
for df in [df1, df2]:
    # First, extract just the date (without time) from the datetime
    df['date_only'] = pd.to_datetime(df['Date']).dt.date
    
    # For each year-month group, get unique dates and assign trading day numbers
    df['td'] = df.groupby('ym')['date_only'].transform(
        lambda x: pd.factorize(x)[0] + 1
    )

In [15]:
# Add week number, dt.isocalendar()[1]  # ISO week number
for df in [df1, df2]:
    df['week_number'] = pd.to_datetime(df['Date']).dt.isocalendar().week

In [16]:
# Add day identifier, int to indicate the day of week (0=Monday, 6=Sunday) on df1 and df2
for df in [df1, df2]:
    df['day_of_week'] = pd.to_datetime(df['Date']).dt.dayofweek

In [17]:
# VWAP signal, if Close > VWAP -> 1 else 0 on df1 and df2
for df in [df1, df2]:
    df['vwap_signal'] = np.where(df['Close'] > df['VWAP'], 1, 0)

In [18]:
# Calculate daily simple returns for df1 and df2
# Calculate percentage change of 'Close' within each ticker
df1['ret'] = df1.groupby('Ticker')['Close'].pct_change()
df2['ret'] = df2.groupby('Ticker')['Close'].pct_change()

# fill na values in ret with 0
df1['ret'] = df1['ret'].fillna(0)
df2['ret'] = df2['ret'].fillna(0)

In [19]:
# calculate cumulative returns for df1 and df2
df1['cumret'] = (1 + df1['ret']).cumprod() - 1
df2['cumret'] = (1 + df2['ret']).cumprod() - 1

In [20]:
# Filter last 180 days of data for both df1 and df2
end_date = max(df1['Date'].max(), df2['Date'].max())
start_date = end_date - pd.Timedelta(days=180)
df1_last_180 = df1[df1['Date'] >= start_date]
df2_last_180 = df2[df2['Date'] >= start_date]

In [21]:
"""
Leveraged ETFs tend to have lower length of data compared to their underlying assets due to most recent inception dates.
Apply below filtering only when comparing leveraged ETF with its underlying asset.
""";

In [22]:
# Filter df1 by min() date of df2.date_only (df2 usually is the leveraged ETF, with shorter history)
min_date_df2 = df2['date_only'].min()
df1 = df1[df1['date_only'] >= min_date_df2]

In [23]:
# Add backtest df to be used for strategies backtesting
bt1 = df1.copy()
bt2 = df2.copy()

In [24]:
# Filter df1 and df2 for Market hours only (9:30 to 16:00), Intraday data
market_hours_df1 = df1[(df1['hour'] >= 9) & ((df1['hour'] < 16) | ((df1['hour'] == 9) & (df1['minute'] >= 30)))]
market_hours_df2 = df2[(df2['hour'] >= 9) & ((df2['hour'] < 16) | ((df2['hour'] == 9) & (df2['minute'] >= 30)))]

# Filter df1 and df2 for first hour of market only
first_hour_df1 = df1[((df1['hour'] == 9) & (df1['minute'] >= 30)) | (df1['hour'] == 10)]
first_hour_df2 = df2[((df2['hour'] == 9) & (df2['minute'] >= 30)) | (df2['hour'] == 10)]

# Filter df1 and df2 for last hour of market only
last_hour_df1 = df1[(df1['hour'] == 15)]
last_hour_df2 = df2[(df2['hour'] == 15)]

In [25]:
# Group df1 and df2 by date_only and calculate daily returns
df1_daily = df1.groupby('date_only').agg({'Close': 'last'}).reset_index()
df1_daily['ret'] = df1_daily['Close'].pct_change().fillna(0)
df1_daily['cumret'] = (1 + df1_daily['ret']).cumprod() - 1
df2_daily = df2.groupby('date_only').agg({'Close': 'last'}).reset_index()
df2_daily['ret'] = df2_daily['Close'].pct_change().fillna(0)
df2_daily['cumret'] = (1 + df2_daily['ret']).cumprod() - 1

# Join df1_daily and df2_daily on date_only
df_joined = df1_daily.merge(df2_daily, on='date_only', suffixes=(f'_{ticker1}', f'_{ticker2}'))

# Display first few rows of df_joined
df_joined.head()

,date_only,Close_MSTR,ret_MSTR,cumret_MSTR,Close_MSTU,ret_MSTU,cumret_MSTU
0,2024-09-18,135.7400,0.000000,0.000000,2.6820,0.000000,0.000000
1,2024-09-19,144.5000,0.064535,0.064535,3.0150,0.124161,0.124161
2,2024-09-20,145.2000,0.004844,0.069692,3.0440,0.009619,0.134974
3,2024-09-23,149.2977,0.028221,0.099880,3.2029,0.052201,0.194221
4,2024-09-24,154.2246,0.033001,0.136177,3.3930,0.059352,0.265101

In [26]:
bt1.head()

,Date,Ticker,T,Open,High,Low,Close,Volume,VWAP,N,...,hour,minute,ym,date_only,td,week_number,day_of_week,vwap_signal,ret,cumret
1213936,2024-09-18 04:00:00,MSTR,1726646400000,132.75,132.75,132.75,132.75,412.0,132.5968,25,...,4,0,2024-09-30,2024-09-18,12,38,2,1,0.006063,25.075427
1213937,2024-09-18 04:01:00,MSTR,1726646460000,132.33,132.33,132.33,132.33,736.0,132.3750,35,...,4,1,2024-09-30,2024-09-18,12,38,2,0,-0.003164,24.992929
1213938,2024-09-18 04:02:00,MSTR,1726646520000,132.66,133.49,132.66,133.30,3992.0,132.9765,117,...,4,2,2024-09-30,2024-09-18,12,38,2,1,0.007330,25.183461
1213939,2024-09-18 04:03:00,MSTR,1726646580000,133.10,133.25,133.10,133.25,2050.0,133.1477,89,...,4,3,2024-09-30,2024-09-18,12,38,2,1,-0.000375,25.173640
1213940,2024-09-18 04:04:00,MSTR,1726646640000,133.25,133.25,133.00,133.00,1348.0,133.1446,20,...,4,4,2024-09-30,2024-09-18,12,38,2,0,-0.001876,25.124533

In [27]:
# Create daily df, grouping by date_only and aggregating OHLCV data (keep last for Open, High, Low, Close; sum for Volume)
daily_df1 = bt1.groupby('date_only').agg({
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum'
}).reset_index()

daily_df2 = bt2.groupby('date_only').agg({
    'Open': 'first',
    'High': 'max',
    'Low': 'min',   
    'Close': 'last',
    'Volume': 'sum'
}).reset_index()

In [28]:
daily_df1.head()

    date_only    Open    High       Low     Close      Volume
0  2024-09-18  132.75  139.49  128.5100  135.7400  14814131.0
1  2024-09-19  138.88  148.96  137.5300  144.5000  18501774.0
2  2024-09-20  146.50  149.00  141.6400  145.2000   9264825.0
3  2024-09-23  147.80  151.59  145.0149  149.2977   9170356.0
4  2024-09-24  150.03  154.85  146.7074  154.2246   8759102.0

In [29]:
# # Plot daily df for visualization purposes
# plt.figure(figsize=(14, 7))
# # plt.plot(daily_df1['date_only'], daily_df1['Close'], label=ticker1, color='blue')
# plt.plot(daily_df2['date_only'], daily_df2['Close'], label=ticker2, color='orange')
# plt.title(f'Daily Close Prices: {ticker1} vs {ticker2}')
# plt.xlabel('Date')
# plt.ylabel('Close Price')
# plt.legend()
# plt.show()

In [30]:
# ----------------------------------------------------------------------
# Intraday Strategy 3, "End-of-Day Reversal" Analysis
# ----------------------------------------------------------------------

In [31]:
"""
paper: End-of-Day Reversal

The main time slots and their combinations, as defined in the sources, are:

1. Overnight (ON): The period from the market close to the market open.

2. First half-hour (FH): The first 30 minutes after the market open.

3. Middle-of-the-day (M): The period from the end of FH until one hour before the market close. 
It is specifically defined as the return from 10:00 a.m. to 3:00 p.m. on the given day.

4. Second-to-last half-hour (SLH): The second-to-last 30-minute interval before the market close.

5. Last half-hour (LH): The last 30 minutes before the market close (3:30 p.m. to 4:00 p.m. EST).

Combinations of these time periods are also used as key predictor variables:
• ONFH: The combination of ON and FH.
• ROD3 (Rest-Of-Day-3): The combination of ON, FH, and M, which is the key predictor for much of the analysis. 
ROD3 represents the return from the market close on day t−1 until 3:00 p.m. on day t.

"""

'\npaper: End-of-Day Reversal\n\nThe main time slots and their combinations, as defined in the sources, are:\n\n1. Overnight (ON): The period from the market close to the market open.\n\n2. First half-hour (FH): The first 30 minutes after the market open.\n\n3. Middle-of-the-day (M): The period from the end of FH until one hour before the market close. \nIt is specifically defined as the return from 10:00 a.m. to 3:00 p.m. on the given day.\n\n4. Second-to-last half-hour (SLH): The second-to-last 30-minute interval before the market close.\n\n5. Last half-hour (LH): The last 30 minutes before the market close (3:30 p.m. to 4:00 p.m. EST).\n\nCombinations of these time periods are also used as key predictor variables:\n• ONFH: The combination of ON and FH.\n• ROD3 (Rest-Of-Day-3): The combination of ON, FH, and M, which is the key predictor for much of the analysis. \nROD3 represents the return from the market close on day t−1 until 3:00 p.m. on day t.\n\n'

In [32]:
# Define the dfs
eod1 = bt1.copy()  # Intraday data
eod2 = bt2.copy()  # Intraday data

In [33]:
def add_time_periods(df):
    """
    Add time period flags according to the paper:
    - ON (Overnight): Outside market hours (previous close to current open)
    - FH (First Half-hour): 9:30 to 10:00
    - M (Middle-of-the-day): 10:00 to 15:00  
    - SLH (Second-to-Last Half-hour): 15:00 to 15:30
    - LH (Last Half-hour): 15:30 to 16:00
    - AH (After-hours): 16:00 onwards
    
    Combinations (for return calculations):
    - ONFH: Previous day AH + current day ON + FH (close t-1 to 10:00)
    - ROD3: Previous day AH + current day ON + FH + M (close t-1 to 15:00)
    """
    df = df.copy()
    
    # Initialize individual period flags (binary columns)
    df['is_ON'] = False   # Pre-market (before 9:30)
    df['is_FH'] = False   # First half-hour: 9:30-10:00
    df['is_M'] = False    # Middle: 10:00-15:00
    df['is_SLH'] = False  # Second-to-last half-hour: 15:00-15:30
    df['is_LH'] = False   # Last half-hour: 15:30-16:00
    df['is_AH'] = False   # After-hours: 16:00 onwards
    
    # First Half-hour (FH): 9:30 to 9:59
    df.loc[
        (df['hour'] == 9) & (df['minute'] >= 30),
        'is_FH'
    ] = True
    
    # Middle-of-the-day (M): 10:00 to 14:59
    df.loc[
        (df['hour'] >= 10) & (df['hour'] < 15),
        'is_M'
    ] = True
    
    # Second-to-Last Half-hour (SLH): 15:00 to 15:29
    df.loc[
        (df['hour'] == 15) & (df['minute'] >= 0) & (df['minute'] < 30),
        'is_SLH'
    ] = True
    
    # Last Half-hour (LH): 15:30 to 15:59
    df.loc[
        (df['hour'] == 15) & (df['minute'] >= 30),
        'is_LH'
    ] = True
    
    # Pre-market (ON): Before 9:30
    df.loc[
        (df['hour'] < 9) | 
        ((df['hour'] == 9) & (df['minute'] < 30)),
        'is_ON'
    ] = True
    
    # After-hours (AH): 16:00 onwards
    df.loc[
        df['hour'] >= 16,
        'is_AH'
    ] = True
    
    # === COMBINATION FLAGS ===
    # These represent periods used for return calculations
    
    # ONFH: All periods from previous close to 10:00
    # Includes: AH (previous day) + ON (pre-market) + FH (first half-hour)
    # In chronological order within data: AH comes BEFORE ON and FH the next day
    df['is_ONFH'] = df['is_AH'] | df['is_ON'] | df['is_FH']
    
    # ROD3: All periods from previous close to 15:00
    # Includes: AH (previous day) + ON + FH + M
    df['is_ROD3'] = df['is_AH'] | df['is_ON'] | df['is_FH'] | df['is_M']
    
    # Create a single time_period label column for convenience
    df['time_period'] = 'Unknown'
    df.loc[df['is_ON'], 'time_period'] = 'ON'
    df.loc[df['is_FH'], 'time_period'] = 'FH'
    df.loc[df['is_M'], 'time_period'] = 'M'
    df.loc[df['is_SLH'], 'time_period'] = 'SLH'
    df.loc[df['is_LH'], 'time_period'] = 'LH'
    df.loc[df['is_AH'], 'time_period'] = 'AH'
    
    return df

eod1 = add_time_periods(eod1)
eod2 = add_time_periods(eod2)

In [34]:
# Print unique time periods to verify
print("Unique time periods in ticker 1 data:", eod1['time_period'].unique())
print("Unique time periods in ticker 2 data:", eod2['time_period'].unique())

Unique time periods in ticker 1 data: ['ON' 'FH' 'M' 'SLH' 'LH' 'AH']
Unique time periods in ticker 2 data: ['FH' 'M' 'SLH' 'LH' 'AH' 'ON']

In [35]:
# Verify time period boundaries
print("=== Time Period Verification ===")
print(f"\nis_FH (9:30-10:00):")
print(f"  Min: {eod1[eod1['is_FH']][['hour', 'minute']].min().tolist()}")
print(f"  Max: {eod1[eod1['is_FH']][['hour', 'minute']].max().tolist()}")

print(f"\nis_M (10:00-15:00):")
print(f"  Min: {eod1[eod1['is_M']][['hour', 'minute']].min().tolist()}")
print(f"  Max: {eod1[eod1['is_M']][['hour', 'minute']].max().tolist()}")

print(f"\nis_SLH (15:00-15:30):")
print(f"  Min: {eod1[eod1['is_SLH']][['hour', 'minute']].min().tolist()}")
print(f"  Max: {eod1[eod1['is_SLH']][['hour', 'minute']].max().tolist()}")

print(f"\nis_ROD3 (overnight to 15:00):")
print(f"  Max: {eod1[eod1['is_ROD3']][['hour', 'minute']].max().tolist()}")
print(f"  Should be [14, 59] if M ends before 15:00")

print(f"\nis_LH (15:30-16:00):")
print(f"  Min: {eod1[eod1['is_LH']][['hour', 'minute']].min().tolist()}")
print(f"  Max: {eod1[eod1['is_LH']][['hour', 'minute']].max().tolist()}")

print(f"\nis_AH (16:00+):")
print(f"  Min: {eod1[eod1['is_AH']][['hour', 'minute']].min().tolist()}")
print(f"  Max: {eod1[eod1['is_AH']][['hour', 'minute']].max().tolist()}")

print(f"\nis_ON (pre-market):")
print(f"  Min: {eod1[eod1['is_ON']][['hour', 'minute']].min().tolist()}")
print(f"  Max: {eod1[eod1['is_ON']][['hour', 'minute']].max().tolist()}")
print("=================================")

=== Time Period Verification ===

is_FH (9:30-10:00):
  Min: [9, 30]
  Max: [9, 59]

is_M (10:00-15:00):
  Min: [10, 0]
  Max: [14, 59]

is_SLH (15:00-15:30):
  Min: [15, 0]
  Max: [15, 29]

is_ROD3 (overnight to 15:00):
  Max: [19, 59]
  Should be [14, 59] if M ends before 15:00

is_LH (15:30-16:00):
  Min: [15, 30]
  Max: [15, 59]

is_AH (16:00+):
  Min: [16, 0]
  Max: [19, 59]

is_ON (pre-market):
  Min: [4, 0]
  Max: [9, 59]
=================================

In [36]:
eod1.head()

,Date,Ticker,T,Open,High,Low,Close,Volume,VWAP,N,...,cumret,is_ON,is_FH,is_M,is_SLH,is_LH,is_AH,is_ONFH,is_ROD3,time_period
1213936,2024-09-18 04:00:00,MSTR,1726646400000,132.75,132.75,132.75,132.75,412.0,132.5968,25,...,25.075427,True,False,False,False,False,False,True,True,ON
1213937,2024-09-18 04:01:00,MSTR,1726646460000,132.33,132.33,132.33,132.33,736.0,132.3750,35,...,24.992929,True,False,False,False,False,False,True,True,ON
1213938,2024-09-18 04:02:00,MSTR,1726646520000,132.66,133.49,132.66,133.30,3992.0,132.9765,117,...,25.183461,True,False,False,False,False,False,True,True,ON
1213939,2024-09-18 04:03:00,MSTR,1726646580000,133.10,133.25,133.10,133.25,2050.0,133.1477,89,...,25.173640,True,False,False,False,False,False,True,True,ON
1213940,2024-09-18 04:04:00,MSTR,1726646640000,133.25,133.25,133.00,133.00,1348.0,133.1446,20,...,25.124533,True,False,False,False,False,False,True,True,ON