In [3]:
import pandas as pd
import numpy as np

# import yfinance as yf
# from tvDatafeed import TvDatafeed, Interval
# tv = TvDatafeed()

import warnings
warnings.filterwarnings("ignore")

In [5]:
# import the path
import os
path = os.path.abspath(os.path.join("..", "08_portfolio_management", "portfolio_example.xlsx"))

# read the Excel file
df = pd.read_excel(path, sheet_name=None)

# Check what sheets are available
print("Available sheets:")
for sheet_name in df.keys():
    print(f"- {sheet_name}")

# Show the first sheet's data
first_sheet_name = list(df.keys())[0]
print(f"\nFirst sheet '{first_sheet_name}' preview:")
df[first_sheet_name].head()

Available sheets:
- Foglio1

First sheet 'Foglio1' preview:

  Ticker  Last Closing Price  Somma di Q.ty
0   AAPL             232.560          18.00
1    AMD             168.580          18.00
2   ASML             654.300           6.00
3    BNB             857.400          13.09
4   BR50              21.855         213.00

In [6]:
# Extract the portfolio data from the first sheet
portfolio_df = df['Foglio1'].copy()

# Clean column names
portfolio_df.columns = ['Ticker', 'Last_Price', 'Quantity']

# Calculate portfolio value for each position
portfolio_df['Position_Value'] = portfolio_df['Last_Price'] * portfolio_df['Quantity']

# Display the portfolio
print("Portfolio Overview:")
print(portfolio_df)

print(f"\nTotal Portfolio Value: ${portfolio_df['Position_Value'].sum():,.2f}")
print(f"Number of positions: {len(portfolio_df)}")

Portfolio Overview:
   Ticker   Last_Price    Quantity  Position_Value
0    AAPL     232.5600     18.0000     4186.080000
1     AMD     168.5800     18.0000     3034.440000
2    ASML     654.3000      6.0000     3925.800000
3     BNB     857.4000     13.0900    11223.366000
4    BR50      21.8550    213.0000     4655.115000
5     BTC  111968.6300      2.1571   241527.531773
6    DOGE       0.2153  40270.0000     8670.131000
7    EQQQ     304.6000      9.0000     2741.400000
8     NaN     489.6000     33.0000    16156.800000
9     ETH    4459.3400      4.3100    19219.755400
10   EXXT     194.5000     10.1148     1967.328600
11  GOOGL     211.6400     22.0000     4656.080000
12   IEEM      42.7250      1.9418       82.963405
13   IWDE     101.5700     96.0000     9750.720000
14   LULU     205.0800     15.0000     3076.200000
15     MA     590.4800      5.0000     2952.400000
16     MC     513.1000     22.0000    11288.200000
17   META     738.7000     60.0000    44322.000000
18   MSTR     338.8400      6.0000     2033.040000
19    NKE      77.9200     79.0000     6155.680000
20   NVDA     180.1700     14.0000     2522.380000
21   PYPL      70.0600     64.0000     4483.840000
22   RACE     408.4000     13.0000     5309.200000
23   TSLA     345.9800     23.0000     7957.540000
24      V     349.8600     12.0000     4198.320000

Total Portfolio Value: $426,096.31
Number of positions: 25