In [11]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

# import the path
import os
path = os.path.abspath(os.path.join("..", "08_portfolio_management", "portfolio_data.csv"))

# read the CSV file
df = pd.read_csv(path)

# drop Position_Weight
df = df.drop(columns=['Position_Weight'])

# show the first few rows of the dataframe
df.head()

  Ticker  Last_Price  Quantity  Position_Value
0   AAPL     232.560     18.00        4186.080
1    AMD     168.580     18.00        3034.440
2   ASML     654.300      6.00        3925.800
3    BNB     857.400     13.09       11223.366
4   BR50      21.855    213.00        4655.115

In [12]:
# top 10 holdings
top_10 = df.nlargest(10, 'Position_Value')
top_10

   Ticker   Last_Price    Quantity  Position_Value
5     BTC  111968.6300      2.1571   241527.531773
16   META     738.7000     60.0000    44322.000000
8     ETH    4459.3400      4.3100    19219.755400
7    EQQQ     489.6000     39.0000    19094.400000
15     MC     513.1000     22.0000    11288.200000
3     BNB     857.4000     13.0900    11223.366000
12   IWDE     101.5700     96.0000     9750.720000
6    DOGE       0.2153  40270.0000     8670.131000
22   TSLA     345.9800     23.0000     7957.540000
18    NKE      77.9200     79.0000     6155.680000

In [13]:
# to simplify the calculations and data downloads, we will use only top 10 holdings
port_list = top_10.Ticker.to_list()

# some Ticker should be adjusted for the data source
port_list = [ticker.replace("BNB", "BNB-USD").replace("BTC", "BTC-USD").replace("ETH", "ETH-USD").replace("DOGE", "DOGE-USD").replace("MC", "LVMUY") for ticker in port_list]

In [14]:
port_list

['BTC-USD',
 'META',
 'ETH-USD',
 'EQQQ',
 'LVMUY',
 'BNB-USD',
 'IWDE',
 'DOGE-USD',
 'TSLA',
 'NKE']

Risk Parity Portfolio Optimization