# S&P 500 Monthly Seasonality Analysis

## Overview
This notebook studies whether strong performance in a given month (default: September) leads to consistent gains over the following 30, 60, and 90 calendar days. The dataset covers the full 1789â€“2025 S&P 500 series so seasonal insights span many economic cycles.

## Key Inputs
- **Data**: Daily S&P 500 prices aggregated to month-end observations.
- **Target Month**: Filtered for positive monthly returns in the selected calendar month (currently September).
- **Forward Horizons**: Analyze cumulative log returns for the next 30, 60, and 90 trading days.

## Analysis Steps
1. Load and clean the S&P 500 price history.
2. Resample to month-end prices and compute monthly returns.
3. Identify all positive months for the target calendar month.
4. For those years, compute forward cumulative log returns for each horizon.
5. Summarize descriptive statistics, success rates, and distributional behavior for the forward periods.

## Considerations
- Results emphasize historical seasonality and do not imply persistence.
- Forward-return calculations handle weekends and holidays via pandas offsets.
- Maintain transparency on sample sizes and regime shifts when interpreting the findings.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# Fix the path construction - use forward slashes or raw strings
import os

# Method 1: Use forward slashes (recommended)
path = os.path.abspath(os.path.join("..", "04_S&P500_quant_analysis", "01_data", "^spx_d.csv"))

# Alternative Method 2: Use raw string
# path = os.path.abspath(os.path.join("..", r"04_S&P500_quant_analysis\01_data", "^spx_d.csv"))

# Alternative Method 3: Use pathlib (modern approach)
# from pathlib import Path
# path = Path("..") / "04_S&P500_quant_analysis" / "01_data" / "^spx_d.csv"

# print(f"Path exists: {os.path.exists(path)}")

# Read the CSV file
df = pd.read_csv(path)

# lower case column names for easier access
df.columns = [col.lower() for col in df.columns]

# Set the 'date' column as the index and convert it to datetime
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)

# Show the first few rows of the dataframe
df.head()

            open  high   low  close  volume
date
1789-05-01  0.51  0.51  0.51   0.51     0.0
1789-06-01  0.51  0.51  0.51   0.51     0.0
1789-07-01  0.50  0.50  0.50   0.50     0.0
1789-08-01  0.50  0.51  0.50   0.51     0.0
1789-09-01  0.51  0.51  0.50   0.51     0.0

In [14]:
# Calculate simple returns with pct_change()
df['simple_returns'] = df['close'].pct_change()

# Drop NA values that result from pct_change()
df.dropna(inplace=True)

# Show dataframe
df.head()

            open  high   low  close  volume  simple_returns
date
1789-06-01  0.51  0.51  0.51   0.51     0.0        0.000000
1789-07-01  0.50  0.50  0.50   0.50     0.0       -0.019608
1789-08-01  0.50  0.51  0.50   0.51     0.0        0.020000
1789-09-01  0.51  0.51  0.50   0.51     0.0        0.000000
1789-10-01  0.51  0.51  0.51   0.51     0.0        0.000000

In [15]:
# resample to monthly frequency, taking the last observation of each month for OHLCV
monthly_ohlcv = df.resample('M').agg({
    'open': 'last',
    'high': 'last',
    'low': 'last',
    'close': 'last',
    'volume': 'last'
})

# simple_returns for monthly data
monthly_ohlcv['monthly_returns'] = monthly_ohlcv['close'].pct_change()

# Drop NA values that result from pct_change()
monthly_ohlcv.dropna(inplace=True)

# Show dataframe
monthly_ohlcv.head()

            open  high   low  close  volume  monthly_returns
date
1789-07-31  0.50  0.50  0.50   0.50     0.0        -0.019608
1789-08-31  0.50  0.51  0.50   0.51     0.0         0.020000
1789-09-30  0.51  0.51  0.50   0.51     0.0         0.000000
1789-10-31  0.51  0.51  0.51   0.51     0.0         0.000000
1789-11-30  0.51  0.51  0.50   0.50     0.0        -0.019608

In [16]:
# Calculate log returns (Monthly) for all data
log_returns = (1 + monthly_ohlcv['monthly_returns']).apply(np.log)

# Cumulative sum of log returns (correct for compounding)
cumsum_log = log_returns.cumsum()

In [17]:
# # Filter cumulative log returns from 2020 onwards
# cumsum_log_2020 = cumsum_log[cumsum_log.index >= '2020-01-01']

# # Plot cumulative log returns from 2020
# plt.figure(figsize=(14, 7))
# plt.plot(cumsum_log_2020, label='Cumulative Sum (Log Returns) from 2020', color='blue')
# plt.title('Cumulative Log Returns (Monthly) - From 2020')
# plt.xlabel('Date')
# plt.ylabel('Cumulative Log Returns')
# plt.legend()
# plt.grid()
# plt.show()

In [18]:
# add year column from DatetimeIndex
monthly_ohlcv['year'] = monthly_ohlcv.index.year

# add month column from DatetimeIndex
monthly_ohlcv['month'] = monthly_ohlcv.index.month

# add day column from DatetimeIndex
monthly_ohlcv['day'] = monthly_ohlcv.index.day

monthly_ohlcv.head()

            open  high   low  close  volume  monthly_returns  year  month  day
date
1789-07-31  0.50  0.50  0.50   0.50     0.0        -0.019608  1789      7   31
1789-08-31  0.50  0.51  0.50   0.51     0.0         0.020000  1789      8   31
1789-09-30  0.51  0.51  0.50   0.51     0.0         0.000000  1789      9   30
1789-10-31  0.51  0.51  0.51   0.51     0.0         0.000000  1789     10   31
1789-11-30  0.51  0.51  0.50   0.50     0.0        -0.019608  1789     11   30

In [ ]:
# Select month for the analysis
# M = 1 # January
# M = 2 # February
# M = 3 # March
# M = 4 # April
# M = 5 # May
# M = 6 # June
# M = 7 # July
# M = 8 # August
M = 9  # September
# M = 10 # October
# M = 11 # November
# M = 12 # December

In [20]:
df_ = monthly_ohlcv.copy()

# select only rows where month == M
df_ = df_[df_.month == M]

# count positive months (where monthly_returns > 0)
positive_months = len(df_[df_['monthly_returns'] > 0])
print(f"Number of positive months in month {M}: {positive_months}")

# count months (length of df)
months_count = len(df_)
print(f"Number of months in the dataset for month {M}: {months_count}")

# percentage of positive months
positive_percentage = (positive_months / months_count) * 100
print(f"Percentage of positive months in month {M}: {positive_percentage:.2f}%")

Number of positive months in month 11: 120
Number of months in the dataset for month 11: 236
Percentage of positive months in month 11: 50.85%

In [21]:
# def get_positive_months(monthly_ohlcv, M):
#     df_ = monthly_ohlcv.copy()
#     df_ = df_[df_.month == M]
#     positive_months = df_[df_['monthly_returns'] > 0]['year'].tolist()
#     return positive_months

# function that return monthly_ohlcv.year where month == M and monthly_returns > 0
def get_positive_years(monthly_ohlcv, M):
    df_ = monthly_ohlcv.copy()
    df_ = df_[df_.month == M]
    positive_years = df_[df_['monthly_returns'] > 0]['year'].tolist()
    return positive_years

# Example usage
positive_years = get_positive_years(monthly_ohlcv, M)
print(f"Years with positive returns in month {M}: {positive_years}")

print(f"Number of years with positive returns in month {M}: {len(positive_years)}")

Years with positive returns in month 11: [1794, 1799, 1802, 1803, 1804, 1808, 1809, 1813, 1814, 1816, 1817, 1818, 1820, 1823, 1829, 1832, 1834, 1837, 1843, 1850, 1852, 1856, 1858, 1859, 1861, 1862, 1863, 1865, 1867, 1868, 1872, 1874, 1875, 1877, 1878, 1879, 1880, 1885, 1886, 1887, 1893, 1896, 1898, 1899, 1900, 1901, 1903, 1904, 1905, 1906, 1907, 1908, 1911, 1912, 1921, 1923, 1924, 1926, 1927, 1928, 1933, 1934, 1935, 1936, 1944, 1945, 1949, 1952, 1953, 1954, 1955, 1957, 1958, 1959, 1960, 1961, 1962, 1966, 1967, 1968, 1970, 1972, 1975, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1985, 1986, 1989, 1990, 1992, 1995, 1996, 1997, 1998, 1999, 2001, 2002, 2003, 2004, 2005, 2006, 2009, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2022, 2023, 2024, 2025]
Number of years with positive returns in month 11: 120

In [22]:
# function that for every year in positive_years, calculate the Cumulative Sum (Log Returns) after 30, 60, 90 days
def get_cumsum_log_after_days(positive_years, df_daily, days=30):
    """
    Calculate cumulative log returns after specified number of days
    from the end of the positive month for each year.
    
    Args:
        positive_years: List of years with positive returns in month M
        df_daily: Daily dataframe with simple_returns column
        days: Number of days to look ahead (30, 60, or 90)
    
    Returns:
        Dictionary with year as key and cumulative log return as value
    """
    cumsum_logs = {}
    
    for year in positive_years:
        try:
            # Find the last day of month M in the given year
            month_end_date = pd.Timestamp(year=year, month=M, day=1) + pd.offsets.MonthEnd(0)
            
            # Find the date that is 'days' after the month end
            target_date = month_end_date + pd.Timedelta(days=days)
            
            # Get data from month end to target date
            mask = (df_daily.index > month_end_date) & (df_daily.index <= target_date)
            period_data = df_daily.loc[mask]
            
            if not period_data.empty:
                # Calculate log returns for the period
                log_returns_period = (1 + period_data['simple_returns']).apply(np.log)
                # Sum log returns (equivalent to cumulative multiplication of (1+r))
                cumsum_log_value = log_returns_period.sum()
                cumsum_logs[year] = cumsum_log_value
            else:
                # If no data available for that period, skip
                print(f"No data available for {year} after {days} days from month {M}")
                
        except Exception as e:
            print(f"Error processing year {year}: {e}")
            continue
    
    return cumsum_logs

# Use the original daily dataframe instead of monthly
cumsum_30_days = get_cumsum_log_after_days(positive_years, df, days=30)
cumsum_60_days = get_cumsum_log_after_days(positive_years, df, days=60)
cumsum_90_days = get_cumsum_log_after_days(positive_years, df, days=90)

print(f"Cumulative Sum (Log Returns) after 30 days for years with positive returns in month {M}:")
for year, ret in cumsum_30_days.items():
    print(f"{year}: {ret*100:.2f}%")

print(f"\nCumulative Sum (Log Returns) after 60 days for years with positive returns in month {M}:")
for year, ret in cumsum_60_days.items():
    print(f"{year}: {ret*100:.2f}%")

print(f"\nCumulative Sum (Log Returns) after 90 days for years with positive returns in month {M}:")
for year, ret in cumsum_90_days.items():
    print(f"{year}: {ret*100:.2f}%")

No data available for 2025 after 30 days from month 11
No data available for 2025 after 60 days from month 11
No data available for 2025 after 90 days from month 11
Cumulative Sum (Log Returns) after 30 days for years with positive returns in month 11:
1794: 0.00%
1799: 2.56%
1802: 0.00%
1803: 1.34%
1804: 1.82%
1808: 1.12%
1809: 0.00%
1813: 3.43%
1814: 0.68%
1816: 0.00%
1817: 1.18%
1818: 0.00%
1820: 1.04%
1823: 0.47%
1829: 0.96%
1832: 3.89%
1834: 1.66%
1837: -2.22%
1843: 0.57%
1850: 0.35%
1852: 1.12%
1856: 0.75%
1858: -1.14%
1859: -0.64%
1861: 1.88%
1862: 5.06%
1863: 0.88%
1865: 1.14%
1867: 1.28%
1868: 0.77%
1872: 0.38%
1874: 0.43%
1875: -0.67%
1877: 2.43%
1878: 1.64%
1879: 2.30%
1880: 1.03%
1885: -0.00%
1886: -2.92%
1887: -0.00%
1893: -10.25%
1896: -1.87%
1898: 5.28%
1899: -9.17%
1900: 5.93%
1901: -0.59%
1903: 5.91%
1904: -1.33%
1905: 2.95%
1906: -4.16%
1907: 2.46%
1908: 0.95%
1911: 0.00%
1912: -4.16%
1921: 0.75%
1923: 1.33%
1924: 3.75%
1926: 0.91%
1927: 0.57%
1928: -0.95%
1933: 2.20%
1934: -1.05%
1935: 2.67%
1936: -0.06%
1944: 3.45%
1945: 0.98%
1949: 4.45%
1952: 3.56%
1953: 0.00%
1954: 4.29%
1955: -0.07%
1957: -5.27%
1958: 4.56%
1959: 2.52%
1960: 4.52%
1961: 0.32%
1962: 1.12%
1966: -0.15%
1967: 2.59%
1968: -4.31%
1970: 5.65%
1972: 1.18%
1975: -1.62%
1977: 0.28%
1978: 1.48%
1979: 1.57%
1980: -3.76%
1981: -3.26%
1982: 1.29%
1983: -0.89%
1985: 4.12%
1986: -2.38%
1989: 2.12%
1990: 2.00%
1992: 1.72%
1995: 1.73%
1996: -0.42%
1997: 1.60%
1998: 5.70%
1999: 5.29%
2001: 1.88%
2002: -6.27%
2003: 4.75%
2004: 3.33%
2005: -0.10%
2006: 1.25%
2009: 2.77%
2012: -0.98%
2013: 1.93%
2014: 0.62%
2015: -0.82%
2016: 1.80%
2017: 0.98%
2018: -10.47%
2019: 2.52%
2020: 3.00%
2022: -6.08%
2023: 4.33%
2024: -2.10%

Cumulative Sum (Log Returns) after 60 days for years with positive returns in month 11:
1794: 0.00%
1799: 3.82%
1802: 1.53%
1803: 3.97%
1804: 4.49%
1808: 5.47%
1809: -0.84%
1813: 11.00%
1814: 0.68%
1816: -2.02%
1817: 2.93%
1818: -0.53%
1820: 2.58%
1823: 1.88%
1829: 1.43%
1832: 6.53%
1834: -4.10%
1837: -6.34%
1843: 3.94%
1850: 3.12%
1852: 1.95%
1856: 1.12%
1858: -1.71%
1859: 1.90%
1861: 4.18%
1862: 11.05%
1863: 0.88%
1865: -3.75%
1867: 2.54%
1868: 0.96%
1872: 0.77%
1874: 0.43%
1875: 1.32%
1877: 3.03%
1878: 1.92%
1879: 5.76%
1880: 1.87%
1885: -5.97%
1886: -5.94%
1887: 0.95%
1893: -5.56%
1896: 0.92%
1898: 13.90%
1899: -10.71%
1900: 5.14%
1901: -0.59%
1903: 5.77%
1904: 0.44%
1905: 4.34%
1906: -8.51%
1907: 5.97%
1908: -0.53%
1911: -0.98%
1912: -6.09%
1921: 2.00%
1923: 4.26%
1924: 6.14%
1926: 0.42%
1927: 0.51%
1928: 4.35%
1933: 12.45%
1934: -6.05%
1935: 8.86%
1936: 2.80%
1944: 5.39%
1945: 8.26%
1949: 5.10%
1952: 2.08%
1953: 5.19%
1954: 5.54%
1955: -4.86%
1957: 0.38%
1958: 5.05%
1959: -4.69%
1960: 9.77%
1961: -4.91%
1962: 6.18%
1966: 6.86%
1967: -0.69%
1968: -5.56%
1970: 9.49%
1972: -0.57%
1975: 9.28%
1977: -6.82%
1978: 6.98%
1979: 7.19%
1980: -7.60%
1981: -4.82%
1982: 4.23%
1983: -1.49%
1985: 3.94%
1986: 9.57%
1989: -6.20%
1990: 4.14%
1992: 1.71%
1995: 3.07%
1996: 2.02%
1997: 3.10%
1998: 9.50%
1999: -2.10%
2001: -3.47%
2002: -8.00%
2003: 6.93%
2004: -0.21%
2005: 2.70%
2006: 1.42%
2009: -2.01%
2012: 6.27%
2013: -1.77%
2014: -2.27%
2015: -6.98%
2016: 4.27%
2017: 7.49%
2018: -4.45%
2019: 4.13%
2020: 2.52%
2022: -0.23%
2023: 7.59%
2024: 0.11%

Cumulative Sum (Log Returns) after 90 days for years with positive returns in month 11:
1794: 2.60%
1799: 3.82%
1802: 3.03%
1803: 7.80%
1804: 2.72%
1808: 8.61%
1809: -0.84%
1813: 16.08%
1814: 1.35%
1816: 1.32%
1817: 5.78%
1818: -0.53%
1820: 3.60%
1823: 2.80%
1829: 3.31%
1832: 9.46%
1834: 8.34%
1837: -8.22%
1843: 29.63%
1850: 5.15%
1852: 1.67%
1856: 1.49%
1858: -3.45%
1859: 5.61%
1861: 4.63%
1862: 11.92%
1863: 1.54%
1865: 0.00%
1867: 4.00%
1868: 1.54%
1872: 1.15%
1874: 1.27%
1875: 1.75%
1877: 3.33%
1878: 2.72%
1879: 10.26%
1880: 4.37%
1885: -3.32%
1886: -3.98%
1887: -1.15%
1893: -4.65%
1896: 1.15%
1898: 15.22%
1899: -9.32%
1900: 6.58%
1901: -0.35%
1903: 0.00%
1904: 4.11%
1905: 0.29%
1906: -10.96%
1907: 1.45%
1908: -2.35%
1911: -0.65%
1912: -9.85%
1921: 6.59%
1923: 3.29%
1924: 6.84%
1926: 5.50%
1927: -1.90%
1928: 5.25%
1933: 8.53%
1934: -8.76%
1935: 11.99%
1936: 4.58%
1944: 10.85%
1945: 0.52%
1949: 6.97%
1952: 0.93%
1953: 5.46%
1954: 7.10%
1955: -0.18%
1957: -2.13%
1958: 5.43%
1959: -3.71%
1960: 13.30%
1961: -1.93%
1962: 3.21%
1966: 7.57%
1967: -4.26%
1968: -9.93%
1970: 10.39%
1972: -4.37%
1975: 8.88%
1977: -8.57%
1978: 1.65%
1979: 5.67%
1980: -6.81%
1981: -11.07%
1982: 6.65%
1983: -5.93%
1985: 11.55%
1986: 13.13%
1989: -4.16%
1990: 13.03%
1992: 2.75%
1995: 6.30%
1996: 4.37%
1997: 9.38%
1998: 6.22%
1999: -3.00%
2001: -2.91%
2002: -10.72%
2003: 7.88%
2004: 2.51%
2005: 2.46%
2006: 0.44%
2009: 0.81%
2012: 6.72%
2013: 2.93%
2014: 1.77%
2015: -6.57%
2016: 7.23%
2017: 2.47%
2018: 0.88%
2019: -6.13%
2020: 5.10%
2022: -2.73%
2023: 10.43%
2024: -1.30%

In [23]:
# calculate statistics for cumsum_30_days, cumsum_60_days, cumsum_90_days
def calculate_statistics(cumsum_dict):
    """
    Calculate statistics for cumulative log returns.
    
    Args:
        cumsum_dict: Dictionary with year as key and cumulative log return as value

    Returns:
        Dictionary with statistics (mean, median, std) for cumulative log returns
    """
    stats = {
        "mean": np.mean(list(cumsum_dict.values())),
        "median": np.median(list(cumsum_dict.values())),
        "std": np.std(list(cumsum_dict.values()))
    }
    return stats

# Calculate statistics for each cumulative sum dictionary
stats_30_days = calculate_statistics(cumsum_30_days)
stats_60_days = calculate_statistics(cumsum_60_days)
stats_90_days = calculate_statistics(cumsum_90_days)

print(f"Statistics for Cumulative Sum (Log Returns) after 30 days for years with positive returns in month {M}:")
print(stats_30_days)

print(f"\nStatistics for Cumulative Sum (Log Returns) after 60 days for years with positive returns in month {M}:")
print(stats_60_days)

print(f"\nStatistics for Cumulative Sum (Log Returns) after 90 days for years with positive returns in month {M}:")
print(stats_90_days)

Statistics for Cumulative Sum (Log Returns) after 30 days for years with positive returns in month 11:
{'mean': np.float64(0.007142041801063959), 'median': np.float64(0.00984088983744599), 'std': np.float64(0.029591184163629006)}

Statistics for Cumulative Sum (Log Returns) after 60 days for years with positive returns in month 11:
{'mean': np.float64(0.016794905654669463), 'median': np.float64(0.019048194970694564), 'std': np.float64(0.04892464167926132)}

Statistics for Cumulative Sum (Log Returns) after 90 days for years with positive returns in month 11:
{'mean': np.float64(0.025235919236835665), 'median': np.float64(0.025975486403260736), 'std': np.float64(0.06380815289358056)}

In [24]:
# statistics with describe method and print results in percentage with 2 decimals
def describe_statistics(cumsum_dict):
    """
    Describe statistics for cumulative log returns using pandas describe method.
    
    Args:
        cumsum_dict: Dictionary with year as key and cumulative log return as value

    Returns:
        None
    """
    # Convert to DataFrame for easier description
    df = pd.DataFrame.from_dict(cumsum_dict, orient='index', columns=['cumsum_log_return'])
    description = df.describe()
    # Convert to percentage
    description = description * 100
    # Print results
    print(description)
    return description

print(f"Descriptive Statistics for Cumulative Sum (Log Returns) after 30 days for years with positive returns in month {M}:")
describe_statistics(cumsum_30_days)

print(f"\nDescriptive Statistics for Cumulative Sum (Log Returns) after 60 days for years with positive returns in month {M}:")
describe_statistics(cumsum_60_days)

print(f"\nDescriptive Statistics for Cumulative Sum (Log Returns) after 90 days for years with positive returns in month {M}:")
describe_statistics(cumsum_90_days)

Descriptive Statistics for Cumulative Sum (Log Returns) after 30 days for years with positive returns in month 11:
       cumsum_log_return
count       11900.000000
mean            0.714204
std             2.971631
min           -10.472187
25%            -0.080613
50%             0.984089
75%             2.367749
max             5.931658

Descriptive Statistics for Cumulative Sum (Log Returns) after 60 days for years with positive returns in month 11:
       cumsum_log_return
count       11900.000000
mean            1.679491
std             4.913151
min           -10.706185
25%            -0.909752
50%             1.904819
75%             5.075636
max            13.902475

Descriptive Statistics for Cumulative Sum (Log Returns) after 90 days for years with positive returns in month 11:
       cumsum_log_return
count       11900.000000
mean            2.523592
std             6.407796
min           -11.069504
25%            -0.995563
50%             2.597549
75%             6.443128
max            29.626582

       cumsum_log_return
count       11900.000000
mean            2.523592
std             6.407796
min           -11.069504
25%            -0.995563
50%             2.597549
75%             6.443128
max            29.626582