In [1]:
import pandas as pd
from datetime import datetime

import yfinance as yf

import warnings
warnings.filterwarnings("ignore")

import datetime as dt
import time

In [2]:
tickers = ['SPY', 'TLT']

In [ ]:
start_date = "2000-01-01"
end_date = datetime.now().strftime("%Y-%m-%d")

# Download historical data from yf API
data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker')

# download data to csv
# data.to_csv("SPY-TLT-D-2000-01-01_2025-10-23.csv")

[*********************100%***********************]  2 of 2 completed

In [7]:
# Load the CSV with MultiIndex columns (Tickers, OHLCV)
df = pd.read_csv("SPY-TLT-D-2000-01-01_2025-10-23.csv", header=[0,1], index_col=0)

# Drop any rows that are completely NaN (e.g. 'Date' row)
df = df.dropna(how='all')

# Convert all values to float
df = df.astype(float)

# Show the result
df.head()

Ticker            SPY                                               TLT       \
Price            Open       High        Low      Close      Volume Open High
Date
2000-01-03  93.664716  93.664716  90.900580  91.887772   8164300.0  NaN  NaN
2000-01-04  90.683438  91.019083  88.225330  88.294434   8089800.0  NaN  NaN
2000-01-05  88.412867  89.419802  86.714897  88.452354  12177900.0  NaN  NaN
2000-01-06  88.215422  89.400052  87.030792  87.030792   6227200.0  NaN  NaN
2000-01-07  88.649765  92.085190  88.491814  92.085190   8066500.0  NaN  NaN

Ticker
Price      Low Close Volume
Date
2000-01-03 NaN   NaN    NaN
2000-01-04 NaN   NaN    NaN
2000-01-05 NaN   NaN    NaN
2000-01-06 NaN   NaN    NaN
2000-01-07 NaN   NaN    NaN