In [64]:
import pandas as pd
from datetime import datetime

import yfinance as yf

import warnings
warnings.filterwarnings("ignore")

import datetime as dt
import time

In [65]:
tickers = ['SPY', 'TLT']

In [66]:
start_date = "2000-01-01"
end_date = datetime.now().strftime("%Y-%m-%d")

# Download historical data from yf API
data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker')

# download data to csv
# data.to_csv("SPY-TLT-D-2000-01-01_2025-10-23.csv")

[*********************100%***********************]  2 of 2 completed

In [67]:
# Load the CSV with MultiIndex columns (Tickers, OHLCV)
df = pd.read_csv("SPY-TLT-D-2000-01-01_2025-10-23.csv", header=[0,1], index_col=0)

# Drop any rows that are completely NaN (e.g. 'Date' row)
df = df.dropna(how='all')

# Convert all values to float
df = df.astype(float)

# keep rows from 644 since TLT started trading on 2002-07-30
df = df.iloc[644:]

# keep only Close prices from level1
df = df.xs('Close', level=1, axis=1)

# lowercase column names
df.columns = [col.lower() for col in df.columns]

# date index to datetime and normalize to remove time component
df.index = pd.to_datetime(df.index)
df.index = df.index.normalize()
df = df.sort_index()

# Show the result
df.head()

                  spy        tlt
Date
2002-07-30  59.177776  37.055672
2002-07-31  59.320892  37.514805
2002-08-01  57.772152  37.728413
2002-08-02  56.477234  38.114819
2002-08-05  54.511993  38.283016

In [68]:
#

In [69]:
# Show the result
df.head()

                  spy        tlt
Date
2002-07-30  59.177776  37.055672
2002-07-31  59.320892  37.514805
2002-08-01  57.772152  37.728413
2002-08-02  56.477234  38.114819
2002-08-05  54.511993  38.283016

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5847 entries, 2002-07-30 to 2025-10-22
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   spy     5847 non-null   float64
 1   tlt     5847 non-null   float64
dtypes: float64(2)
memory usage: 137.0 KB