In [15]:
import pandas as pd
from datetime import datetime

import yfinance as yf

import warnings
warnings.filterwarnings("ignore")

In [16]:
# portfolio of stocks

# NASDAQ Composite (^IXIC)
# Dow Jones Industrial Average (^DJI)
# S&P 500 (^GSPC)
# Russell 2000 Index (^RUT)

stocks = ['^IXIC', '^DJI', '^GSPC', '^RUT']

In [17]:
# Calculate dates properly
end_date = datetime.now()
start_date = end_date - pd.DateOffset(years=10)

# Convert to strings for yfinance if needed (yfinance accepts datetime objects too)
print(f"Date range: {start_date.strftime('%Y-%m-%d')} to {end_date.strftime('%Y-%m-%d')}")

# Download historical data from yf API
df = yf.download(stocks, start=start_date, end=end_date, group_by='ticker', interval='1d')

# # download data to csv
# df.to_csv("indexes_data.csv")

# Load the CSV with MultiIndex columns (Tickers, OHLCV)
df = pd.read_csv("indexes_data.csv", header=[0,1], index_col=0)

# Drop any rows that are completely NaN (e.g. 'Date' row)
df = df.dropna(how='all')

# Convert all values to float
df = df.astype(float)

# rename level 0 of the columns MultiIndex (the tickers)
df.columns = df.columns.set_levels([ticker.replace('^IXIC', 'NASDAQ').replace('^DJI', 'DOWJONES').replace('^GSPC', 'SP500').replace('^RUT', 'RUSSELL2000') for ticker in df.columns.levels[0]], level=0)

# Show the result
df.head()

Date range: 2015-09-11 to 2025-09-11

[*********************100%***********************]  4 of 4 completed

Ticker            SP500                                                       \
Price              Open         High          Low        Close        Volume
Date
2015-09-11  1951.449951  1961.050049  1939.189941  1961.050049  3.218590e+09
2015-09-14  1963.060059  1963.060059  1948.270020  1953.030029  3.000200e+09
2015-09-15  1955.099976  1983.189941  1954.300049  1978.089966  3.239860e+09
2015-09-16  1978.020020  1997.260010  1977.930054  1995.310059  3.630680e+09
2015-09-17  1995.329956  2020.859985  1986.729980  1990.199951  4.183790e+09

Ticker           NASDAQ                                                       \
Price              Open         High          Low        Close        Volume
Date
2015-09-11  4770.729980  4822.339844  4763.149902  4822.339844  1.686190e+09
2015-09-14  4831.979980  4832.000000  4791.080078  4805.759766  1.467740e+09
2015-09-15  4819.319824  4872.350098  4802.089844  4860.520020  1.587460e+09
2015-09-16  4860.430176  4893.439941  4848.149902  4889.240234  1.666380e+09
2015-09-17  4884.109863  4960.870117  4880.500000  4893.950195  1.891510e+09

Ticker          DOWJONES                                            \
Price               Open          High           Low         Close
Date
2015-09-11  16330.400391  16434.759766  16244.650391  16433.089844
2015-09-14  16450.859375  16450.859375  16330.870117  16370.959961
2015-09-15  16382.580078  16644.109375  16382.580078  16599.849609
2015-09-16  16599.509766  16755.980469  16593.900391  16739.949219
2015-09-17  16738.080078  16933.429688  16639.929688  16674.740234

Ticker                   RUSSELL2000                                         \
Price            Volume         Open         High          Low        Close
Date
2015-09-11  104630000.0  1152.510010  1157.910034  1143.729980  1157.790039
2015-09-14   92660000.0  1158.030029  1159.170044  1151.310059  1153.500000
2015-09-15   93050000.0  1153.930054  1167.280029  1153.930054  1166.000000
2015-09-16   99620000.0  1166.170044  1175.890015  1165.410034  1175.199951
2015-09-17  129600000.0  1175.089966  1193.989990  1173.699951  1180.689941

Ticker
Price             Volume
Date
2015-09-11  3.218590e+09
2015-09-14  3.000200e+09
2015-09-15  3.239860e+09
2015-09-16  3.630680e+09
2015-09-17  4.183790e+09