In [25]:
import math
import numpy as np
import pandas as pd

import yfinance as yf

import datetime as dt
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [26]:
# portfolio of tickers
tickers = ['TLT']
  
# start_date = "2015-01-01"
# end_date = dt.datetime.now().strftime("%Y-%m-%d")

# # Download historical data from yf API
# data = yf.download(tickers, start=start_date, end=end_date, group_by='ticker')

# # download data to csv
# data.to_csv(f"{tickers[0]}_data.csv")
     
# Load the CSV with MultiIndex columns (Tickers, OHLCV)
df = pd.read_csv(f"{tickers[0]}_data.csv", header=[0,1], index_col=0)

# Drop any rows that are completely NaN (e.g. 'Date' row)
df = df.dropna(how='all')

# Convert all values to float
df = df.astype(float)

# drop level 0 of the multiindex columns (the ticker symbol)
df.columns = df.columns.droplevel(0)

# datetime index
df.index = pd.to_datetime(df.index)

# Show the result
df.head()

Price            Open        High        Low      Close      Volume
Date
2015-01-02  95.369545   96.404120  95.263822  96.147362   9432000.0
2015-01-05  96.668411   97.891783  96.630656  97.657684   9789500.0
2015-01-06  98.699788  100.051536  98.314659  99.417191  18331300.0
2015-01-07  98.699807   99.658867  98.299571  99.220871   9762900.0
2015-01-08  98.443039   98.450586  97.733184  97.906868   8055300.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2696 entries, 2015-01-02 to 2025-09-22
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    2696 non-null   float64
 1   High    2696 non-null   float64
 2   Low     2696 non-null   float64
 3   Close   2696 non-null   float64
 4   Volume  2696 non-null   float64
dtypes: float64(5)
memory usage: 126.4 KB